/* .navbar{
  height: 70px;
} */

.heading1{
  color: rgb(156, 153, 148);
  padding-left: 50px;
}

.heading2{
  color: rgb(224, 48, 48);
}

.navbar-nav{
  padding-left: 50px;
}

.navbar-text{
  padding-left: 50px;
  
}

.navfooter{
  color: white;
  padding-left: 50px;
}

